body * {
	font-family: Meiryo;
	font-size: 13px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

html {
	scroll-behavior: smooth;
}

.manche {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(-45deg, rgba(113, 168, 219, 1) 0%, rgb(67, 138, 201) 100%);
	z-index: 1001;
	top: 0;
	left: 0;
	opacity: 1;
	transition: .5s;
}

.manche.off {
	opacity: 0;
	top: -100%;
}

.main {
	background-color: darkgrey;
	/* height: 100vh;
	overflow: auto; */
}

.modal-dialog {
	min-width: 300px;
}

.modal-footer button {
	font-size: 13px;
	padding: 0 5px;
}

.main::-webkit-scrollbar {
	display: none;
}

.headerPWA {
	width: 100%;
	height: 30px;
	background: #557ebe;
	z-index: 1000;
	position: relative;
	text-align: right;
	-webkit-user-select: none;

}

.headerPWA .dragheader {
	position: absolute;
	top: 50%;
	left: 5px;
	height: 25px;
	width: calc(100% - 175px);
	-webkit-app-region: drag;
	transform: translateY(-50%);
}

.titleApp {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	color: white;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
}

.headerPWA span {
	font-size: 13px;
	color: white;
	margin-right: 20px;
	position: absolute;
	right: 165px;
	top: 50%;
	transform: translateY(-50%);
}

.closeApp {
	cursor: pointer;
	color: black !important;
	/* padding: 0 5px; */
	font-size: 17px;
	position: absolute;
	/* width: 150px; */
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	opacity: 0.8;
}

.closeApp img {
	content: url("../img/closeApp.png");
	width: 14px;
	/*or your image's width*/
	margin: 0;
	padding: 0;
}

.minmax {
	cursor: pointer;
	color: black !important;
	/* padding: 0 5px; */
	font-size: 17px;
	position: absolute;
	/* width: 150px; */
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;

	opacity: 0.8;
}

.minmax:hover,
.mini:hover {
	background: #ffffff;
}

.max img {
	content: url("../img/maximize.png");
	width: 14px;
	/*or your image's width*/
	margin: 0;
	padding: 0;
}

.min img {
	content: url("../img/minimize.png");
	width: 14px;
	/*or your image's width*/
	margin: 0;
	padding: 0;
}

.mini {
	cursor: pointer;
	color: black !important;
	/* padding: 0 5px; */
	font-size: 17px;
	position: absolute;
	/* width: 150px; */
	right: 60px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;

	opacity: 0.8;
}

.mini img {
	content: url("../img/minus.png");
	width: 14px;
	/*or your image's width*/
	margin: 0;
	padding: 0;
}

.logOut {
	cursor: pointer;
	color: blue !important;
	/* opacity: .6; */
	padding: 0 5px;
	font-size: 12px;
	position: absolute;
	/* width: 150px; */
	right: 100px;
	top: 50%;
	transform: translateY(-50%);
}

.logOut:hover {
	opacity: 1;
}

.closeApp:hover {
	background: red !important;
}

.closeApp:hover img {
	content: url("../img/closeAppH.png");
}

.bodyPWA {
	width: 100%;
	height: calc(100vh - 30px);
}

.none-padding {
	padding: unset;
}

.centered {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 15px;
	margin-bottom: 2%;
}

.custom-navbar {
	padding: 0px;
	position: fixed;
	width: 100%;
	height: 30px;
	z-index: 2;
	left: 0;
	background-color: #404040;
	box-shadow: 0px 2px 5px black;
	overflow: hidden;
}

.custom-navbar input[type=file] {
	display: none;
}

.custom-navbar label {
	margin-left: 10px;
}

.custom-btn {
	border-radius: 0px;
	color: white;
	background-color: #404040;
	border: none;
	padding: 0px 6px;
	margin: 1px 2px 0px 2px;
	font-size: 15px;
	height: 22px;
	border: 1px solid #404040;
}

.custom-btn:hover {
	background-color: #404040;
	border-color: #202020;
}

.tab-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: auto;
	z-index: 5;
}

.custom-tab {
	position: absolute;
	left: 0;
	width: 20px;
	height: auto;
	padding: 0px;
	z-index: 1;
	top: calc(50% + 30px);
	transform: translateY(-50%);
}

.custom-tab button {
	white-space: normal;
	width: 20px;
	padding: 10px 0px;
	color: #C0C0C0;
}

.custom-tab button:hover {
	color: white;
}

.panel {
	display: none;
	position: absolute;
	width: 200px;
	height: calc(100vh - 30px);
	background-color: #e8e9ea;
	left: 0px;
	box-shadow: 0px 4px 5px #787878;
	padding-bottom: 10px;
	top: 30px;
	-webkit-user-select: none;
}

.scrollPanel {
	overflow-x: auto;
	height: calc(100vh - 55px);
	width: 207px;
}

.scrollPanel.on {
	height: calc(100vh - 110px);
}

/* width */
.scrollPanel::-webkit-scrollbar {
	width: 6px;
}

/* Track */
.scrollPanel::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.scrollPanel::-webkit-scrollbar-thumb {
	background: rgba(157, 195, 230, 1);
}

/* Handle on hover */
.scrollPanel::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 155, 219);
}

.panel-show {
	left: 207px !important;
}

.tool-bar-lpw,
.tab-bar-search-lpw {
	display: flex;
	margin-left: 210px;
	margin-right: 210px;

}

.custom-select {
	margin: 0px;
	position: absolute;
	width: auto;
	padding: 0px;
}

.custom-select-bg-dark {
	background-color: rgba(144, 144, 144, 0.5);
}

table,
td,
th {
	border: 1px solid #6c757d;
}

table {
	border-collapse: collapse;
}

.custom-table {
	width: 100%;
}

.custom-table tr {
	height: 25px;
}

.td-product {
	width: 200px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
	cursor: pointer;
}

.td-product:hover {
	background: #e4f9ff;
}

.text-title {
	text-align: center;
	background-color: #6c757dc7;
}

.text-input input[type=text] {
	width: 100%;
	border: none;
	background-color: white;
	padding: 5px 3px;
}

.wall {
	top: 31px;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1;
}

#draft {
	cursor: crosshair
}

.sandwich {
	position: relative;
}

.sandwich>.paint {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.5);
}

.tab-bar-search {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 6;
}

.custom-tab-search {
	position: absolute;
	left: 45%;
	width: 100%;
	padding: 0px;
}

.custom-tab-search .button-show {
	color: #C0C0C0;
	width: 150px;
	text-align: center;
	background-color: #343a40;
	border: solid 1px #343a40;
	border-radius: 4px;
	height: 20px;
}

.custom-tab-search .button-show:hover {
	color: white;
	cursor: pointer;
	background-color: #202020;
}

#btn-tab-search {
	position: absolute;
	top: 30.5px;
	z-index: 1;
	font-size: 13px;
}

#btn-tab-search.active {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
	box-shadow: 1px 1px 5px #2d2d2d;
}

.panel-search {
	display: none;
	position: absolute;
	width: 100%;
	height: 55px;
	background-color: #e8e9ea;
	left: 0;
	box-shadow: 0px -2px 5px black;
	top: 30px;
}

.panel-search.on {
	height: 80px;
}

/* .panel-search-show{
	top: 64px !important;
} */

.row-selected>td {
	background-color: deepskyblue;
}

.tool-bar-top {
	position: relative;
	top: 0;
	left: 0;
	margin: 0px;
	width: 100%;
	z-index: 4;
	background-color: white;

}

.tool-bar-top>div {
	padding-top: 30px;
	padding-bottom: 3px;
}

.tool-bar-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0px;
	width: 100%;
	z-index: 1;
	background-color: white;
	box-shadow: 0px 1px 5px black;
}

.tool-bar-bottom>div {
	padding-top: 3px;
	padding-bottom: 10px;
}

.tool-bar-left {
	position: absolute;
	top: 30px;
	left: 0;
	margin: 0px;
	height: calc(100vh - 30px);
	width: auto;
	z-index: 1;
	background-color: white;
	box-shadow: -1px 0px 5px black;
}

.tool-bar-left>div {
	padding-left: 20px;
	padding-right: 3px;
}

.tool-bar-right {
	position: absolute;
	top: 30px;
	right: 0;
	margin: 0px;
	height: calc(100vh - 30px);
	width: auto;
	z-index: 1;
	background-color: white;
	box-shadow: 1px 0px 5px black;
}

.tool-bar-right>div {
	padding-left: 3px;
	padding-right: 10px;
}


.div-pdf {
	background-color: darkgrey;
	overflow: auto;
	text-align: center;
	vertical-align: middle;
	height: calc(100vh - 110px);
}

.div-pdf.off {
	display: none;
}

/* width */
.div-pdf::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
.div-pdf::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.div-pdf::-webkit-scrollbar-thumb {
	background: rgba(157, 195, 230, 1);
}

/* Handle on hover */
.div-pdf::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 155, 219);
}

/* .e-pdf{
	padding-right: auto;
    padding-left: auto;
    padding-top: 70px;
    padding-bottom: 60px;
} */

#print-file-other {
	z-index: 0;
	position: absolute;
	top: 70;
	left: 0;
	overflow: hidden;
}

.nopadding {
	padding: 0;
}

.btn-dark {
	border-radius: 4px;
}

.btn-dark.active {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
	box-shadow: 1px 1px 5px #2d2d2d;
}

.btn-padding-0 {
	padding: 0px 0px;
}

.btn-disable {
	border: none !important;
	color: #6c757d !important;
	box-shadow: none !important;
}

.fa-text-width {
	color: #001dff;
}

.btn-enable {
	color: #007bffbd !important;
}

.fa-eraser {
	color: #ff000052;
}

.fa-pencil {
	color: #00cefffa;
}

.fa-paint-brush {
	color: #00cefffa;
}

.fa-picture-o {
	color: #00cefffa;
}

.line-0 {
	border: solid 0.5px #064488;
	width: 20px;
	/* margin-left: -12px; */
}

.line-1 {
	border: solid 1px #064488;
	width: 20px;
	/* margin-left: -12px; */
	margin-top: 1px;
}

.line-2 {
	border: solid 2px #064488;
	width: 20px;
	/* margin-left: -12px; */
	margin-top: 1px;
}

.line-3 {
	border: solid 3px #064488;
	width: 20px;
	margin-top: 1px;
}

.fa-undo,
.fa-repeat {
	color: deepskyblue;
}

.btn-color {
	background-color: #000000;
	height: 18px;
	width: 24px;
	border: solid 1px;
}

.btn-color>.picker_wrapper {
	width: 200px !important;
}

.btn-color-popup {
	height: 25px;
	width: 25px;
	float: left;
	margin: 5px;
	border: 2px solid #b7b7b7;
}

.btn-color-popup:hover {
	border: 2px solid #e4f9ff;
}


.btn-color-popup.colorSelected {
	border: 2px solid #b7dee8;
}

.btn-color-popup>button {
	height: 28px;
	width: 20px;
	border-style: solid;
}

#color-change {
	position: absolute;
	border: outset white;
	background: white;
	z-index: 3;
	width: 160px;
	padding: 5px;
	top: 30px;
	box-shadow: 1px 1px 5px #4c4c4c;
}

.highlightOpacity {
	position: absolute;
	border: outset white;
	background: white;
	z-index: 3;
	width: 50px;
	top: 30px;
	box-shadow: 1px 1px 5px #4c4c4c;
	left: 250px;
}

.hlItem {
	width: 100%;
	padding: 3px 5px;
	cursor: pointer;
}

.highlightOpacity .hlItem:hover {
	background: #e4f9ff;
	;
}

.leftColor {
	left: 345px;
}

.leftLine {
	left: 315px;
}

.tool-bar-lr>div {
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.tool-bar-lr button {
	min-width: 34px;
	min-height: 26px;
}

#line-size-change {
	width: 180px;
	position: absolute;
	top: 30px;

	border: outset;
	overflow-y: auto;
	z-index: 3;
	background-color: white;
	box-shadow: 1px 1px 5px #00000096;
}

#line-size-change>button {
	width: 96%;
	height: 10px;
	border-radius: 0px;
}

#line-size-change>button>div {
	float: right;
	width: 70%;
	padding-top: 5px;
	padding-right: 5px;
}

.size-025 {
	height: 1px;
	background: #064488;
}

.size-05 {
	height: 2px;
	background: #064488;
}

.size-075 {
	height: 3px;
	background: #064488;
}

.size-1 {
	height: 4px;
	background: #064488;
}

.size-15 {
	height: 5px;
	background: #064488;
}

.size-225 {
	height: 6px;
	background: #064488;
}

.size-3 {
	height: 7px;
	background: #064488;
}

.size-45 {
	height: 8px;
	background: #064488;
}

.size-6 {
	height: 9px;
	background: #064488;
}

/* modal */
.modal-dialog {
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	margin: unset;
	height: auto;
}

.modal-header {
	height: 30px;
	background-color: #557ebe;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
}

.modal-header i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.modal-title {
	line-height: 0;
}

.modal-header .close {
	padding: 0.5rem 1rem !important;
}

.close {
	float: right;
	font-size: 1rem;
	font-weight: 700;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.modal-footer {
	display: unset;
	text-align: center;
	padding: 0.3em;
}

.modal-footer>button {
	padding: 0px;
	width: 85px;
}

/* .content {
    flex : 1;
    display: flex;
    flex-direction: column;
} */

.body-icon {
	float: left;
}

#modal-message,
#modal-confirm-message {
	/* float: left; */
	padding-left: 40px;
}

.error {
	font-size: 2rem;
	position: relative;
	background: #ff0000;
	width: 1em;
	height: 1em;
	/* css3 */
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}

.error .div1 {
	position: absolute;
	z-index: 10;
	left: 13px;
	width: 6px;
	height: 22px;
	top: 5px;
	background: #fff;
	/* css3 */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.error .div2 {
	position: absolute;
	z-index: 10;
	left: 13px;
	width: 6px;
	height: 22px;
	top: 5px;
	background: #fff;
	/* css3 */
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.info {
	font-size: 2rem;
	top: 3px;
}

.info:before {
	content: "i";
	width: 1.5em;
	height: 1.5em;
	margin-top: 0em;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	line-height: 1.5em;
	text-align: center;
	color: #fff;
	background: #2385BA;

	/* css3 */
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	border-radius: 1.5em;
}

.warning {
	width: 1.5em;
	height: 1.5em;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.warning:before {
	content: "!";
	z-index: 2;
	left: 0.6em;
	top: 5px;
	font-weight: bold;
	color: #000;
}

.warning:after {
	z-index: 1;
	border-width: 0 0.75em 1.5em;
	border-style: solid;
	border-color: #F8D201 transparent;
	background: transparent;
}

.w3-green {
	height: 24px;
	background-color: #92d050;
	margin-top: 10px;
}

/* loading */
.overlay {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background: #0000002b;
}

.loader {
	position: absolute;
	float: left;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;

}

.contentNotFile {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	font-size: 14px;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#fountainG {
	float: left;
	position: relative;
	margin: 5px 15px;
}

.fountainG {
	position: absolute;
	top: 0;
	background-color: rgb(0, 0, 0);
	width: 10px;
	height: 10px;
	animation-name: bounce_fountainG;
	-o-animation-name: bounce_fountainG;
	-ms-animation-name: bounce_fountainG;
	-webkit-animation-name: bounce_fountainG;
	-moz-animation-name: bounce_fountainG;
	animation-duration: 1.5s;
	-o-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
	transform: scale(.3);
	-o-transform: scale(.3);
	-ms-transform: scale(.3);
	-webkit-transform: scale(.3);
	-moz-transform: scale(.3);
	border-radius: 7px;
	-o-border-radius: 7px;
	-ms-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

#fountainG_1 {
	left: 0;
	animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
}

#fountainG_2 {
	left: 10px;
	animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
}

#fountainG_3 {
	left: 21px;
	animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
}

#fountainG_4 {
	left: 31px;
	animation-delay: 1.05s;
	-o-animation-delay: 1.05s;
	-ms-animation-delay: 1.05s;
	-webkit-animation-delay: 1.05s;
	-moz-animation-delay: 1.05s;
}

#fountainG_5 {
	left: 42px;
	animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-ms-animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
}

@keyframes bounce_fountainG {
	0% {
		transform: scale(1);
		background-color: rgb(0, 0, 0);
	}

	100% {
		transform: scale(.3);
		background-color: rgb(255, 255, 255);
	}
}

@-o-keyframes bounce_fountainG {
	0% {
		-o-transform: scale(1);
		background-color: rgb(0, 0, 0);
	}

	100% {
		-o-transform: scale(.3);
		background-color: rgb(255, 255, 255);
	}
}

@-ms-keyframes bounce_fountainG {
	0% {
		-ms-transform: scale(1);
		background-color: rgb(0, 0, 0);
	}

	100% {
		-ms-transform: scale(.3);
		background-color: rgb(255, 255, 255);
	}
}

@-webkit-keyframes bounce_fountainG {
	0% {
		-webkit-transform: scale(1);
		background-color: rgb(0, 0, 0);
	}

	100% {
		-webkit-transform: scale(.3);
		background-color: rgb(255, 255, 255);
	}
}

@-moz-keyframes bounce_fountainG {
	0% {
		-moz-transform: scale(1);
		background-color: rgb(0, 0, 0);
	}

	100% {
		-moz-transform: scale(.3);
		background-color: rgb(255, 255, 255);
	}
}


.dpNone {
	display: none;
}


.udpater {
	position: absolute;
	float: left;
	left: 20px;
	width: 230px;
	bottom: 20px;
	background: #ffffff;
	box-shadow: 1px 1px 5px #5d5d5d;
	transform: translateX(-200%);
	transition: .5s;
	text-align: center;
	overflow: hidden;
	z-index: 1000;
}

.drawingSearchOverlay {
	position: absolute;
	float: left;
	top: 30px;
	left: 0;
	width: 100%;
	height: calc(100vh - 30px);
	background: #21252940;
	overflow: hidden;
	z-index: 5;
}

.drawingSearchOverlay.closePopup {
	display: none;
}

.update-pop {
	height: 100px;
}

.drawingSearchContent {
	position: absolute;
	top: calc(50% + 30px);
	left: 50%;
	width: 898;
	z-index: 6;
	background: white;
	text-align: center;
	transition: .5s ease-in;
	box-shadow: 1px 1px 5px black;
}

.drawingSearchContent.closePopup {
	opacity: 0;
	transform: translate(-50%, -350%);
}

.drawingSearchContent.showPopup {
	opacity: 1;
	transform: translate(-50%, -50%);
}

.header-update {
	height: 25px;
	background: #557ebe;
	color: white;
	line-height: 25px;
	position: relative;
	font-size: 14px;
}

.header-update i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	cursor: pointer;
	z-index: 7;
}

.bodySearchDrawing {
	padding: 20px;
	user-select: none;
}

.containButtonSearch {
	text-align: left;
}

.contentSearch {
	margin-top: 40px;
	position: relative;
}

.tableHeader {
	width: 100%;
}

.tableBody {
	width: 100%;
	margin-top: -4px;
}

.tableBody tr {
	cursor: pointer;
}

.tableBody tr:hover {
	background: #e4f9ff;
}

.tableBody tr td {
	text-align: left;
	padding: 0 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tableBody tr td:nth-child(1) {
	text-align: center;
	padding: 0;

}

.tableBody tr td:nth-child(1)>input {
	vertical-align: middle;
}

.rowSelected {
	background: #b7dee8;
}

.tableHeader tr {
	width: 100%;
	background: #e4e4e4;
}

.btn {
	transition: none !important;
	outline: none !important;
}

.btn:focus,
.btn.focus {
	box-shadow: none !important;
}

.content-update {
	font-size: 12px;
	padding: 10px;
	text-align: left;
	width: 100%;
	display: inline-block;
}

.btn-update {
	font-size: 11px;
	height: 30px;
}

.btn-update button {
	padding: 0 5px;
	font-size: 13px;
	margin-right: 5px;
}

.bodyTable {
	min-height: 40vh;
	max-height: 40vh;
	overflow: hidden;
	overflow-y: scroll;
	margin-right: -10px;
	position: relative;
}

.lineH {
	position: absolute;
	width: 1px;
	height: 100%;
}

.lineW {
	position: absolute;
	width: 100%;
	height: 1px;
}

.lineW,
.lineH {
	background: rgb(108, 117, 125);
}

.lleft {
	left: 0;
}

.rright {
	right: 0;
}

.bttom {
	bottom: 0;
}

/* width */
.bodyTable::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.bodyTable::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.bodyTable::-webkit-scrollbar-thumb {
	background: rgba(157, 195, 230, 1);
}

/* Handle on hover */
.bodyTable::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 155, 219);
}

.downloadModal,
.savingModal {
	width: 100%;
	height: 100vh;
	background: #00000047;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999;
	user-select: none;
}

.popmodal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	text-align: center;
	width: 250px;
	box-shadow: 1px 1px 5px black;
}

.closeModal {
	display: none;
}

.dotContainer {
	position: relative;
	cursor: pointer;
}

.dotContainer:hover {
	background: #e4f9ff;
}

.dotContainer button {
	width: 45px;
	text-align: right;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}

.dotItem {
	text-align: -webkit-center;
	position: absolute;
	width: 110px;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}

.dotParens {
	position: relative;
}

.notItem {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
	user-select: none;
}

.percent {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 50px;
	background: black;
	color: white;
	z-index: 4;
}

.textA {
	width: 100%;
	height: 100%;
	z-index: 3;
	background: transparent;
	border: none;
	outline: none;
	resize: none;
}

.resize-drag {
	background-color: #29e;
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	border-radius: 8px;
	padding: 5px;
	margin: 0;
	width: 120px;

	/* This makes things *much* easier */
	box-sizing: border-box;
}

.resize-container {
	width: 100%;
	height: 240px;
}

.tempSave {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -9999;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.poiterNone {
	pointer-events: none;
}

.font-container {
	position: absolute;
	background: transparent;
	transform-origin: 0 0;
}

.font-container.activeT {
	border: 3px dashed #00000029;

}

.font-container.reactiveT {
	border: 3px dashed transparent;
}

.font-container.on {
	border: 3px dashed #557ebe;
}

.textAreaAddtext {
	width: 100%;
	height: 100%;
	resize: none;
	background: transparent;
	outline: none;
	border: none;
	white-space: pre-line;
	overflow: hidden;
	padding: 0px;
	line-height: 1;
	transform-origin: 0 0;
}


/* rotate end */
.zindx4 {
	z-index: 4;
}

.zindx3 {
	z-index: 3;
}

.zindx2 {
	z-index: 2;
}

.zindx1 {
	z-index: 1;
}

.zindx-1 {
	z-index: -1;
}

.updateZoom {
	position: absolute;
	top: 0;
	left: 0;
}

.dragElem {
	position: absolute;
	cursor: all-scroll;
	z-index: 1;
}

.dragElemTop {
	top: -10px;
	left: 0px;
	width: 100%;
	height: 20px;
}

.dragElemLeft {
	top: 0px;
	left: -10px;
	width: 20px;
	height: 100%;
}

.dragElemRight {
	top: 0px;
	right: -10px;
	width: 20px;
	height: 100%;
}

.dragElemBot {
	bottom: -10px;
	left: 0px;
	width: 100%;
	height: 20px;
}

.zindx-1 {
	z-index: -1;
}

.delLayer,
.imgdelLayer,
.imgPaintLayer {
	position: absolute;
	transform-origin: 0 0;
}

.curPen {
	cursor: url(../img/pencil.png) 0 16, auto;
}

.curBrush {
	cursor: url(../img/markerActive.png) 0 16, auto;
}

.curRom {
	cursor: url(../img/rom.png) 0 16, auto;
}

.curText {
	cursor: url(../img/plus.png) 8 8, auto;
}

.curDrag {
	cursor: url(../img/drag.png) 8 8, auto;
	/* cursor: -webkit-grabbing; */
}

.curZom {
	cursor: url(../img/search.png) 8 8, auto;
}

.curscroll {
	cursor: all-scroll;
}

.curDefault {
	cursor: default;
}

.btnBanner {
	font-size: 13px;
	width: 125px;
}

.titleLocal {
	width: 290px;
}

.localPath {
	text-align: center;
	width: calc(100% - 420px)
}

.btnLocalFile {
	width: 130px;
	text-align: right;
}

.btn-toolBar {
	text-align: right;
	width: calc(50% - 197.5px);
	position: relative;

}

.btnSave {
	font-size: 12px;
	padding: 0 5px;
	width: 110px;
	height: 20px;
}

.allToolbar {
	width: calc(100% - 490px);
	text-align: center;
	position: relative;

}


.allToolbarchild {
	min-width: 450px;
	max-width: 450px;
	width: 450px;
	text-align: left;
	margin: 0 auto;
	position: relative;
}

.pageNumber {
	text-align: left;
	width: 145px;
}

.scrollRight {
	position: absolute;
	right: 0;
	width: 15px;
	font-size: 1px;
	height: 24px;
	line-height: 24px;
	box-shadow: -1px 1px 4px #c1c1c1;
	border: .5px solid #d6d6d6;
	cursor: pointer;
	background: white;
	z-index: 1;
	display: none;
	top: -2px;
}

.scrollRight img {
	content: url("../img/next.png");
	width: 15px;
	opacity: 0.7;
}

.scrollLeft {
	position: absolute;
	left: 0;
	width: 15px;
	font-size: 1px;
	height: 24px;
	line-height: 24px;
	box-shadow: 1px 1px 5px #c1c1c1;
	border: .5px solid #d6d6d6;
	cursor: pointer;
	background: white;
	z-index: 1;
	display: none;
	top: -2px;
}

.scrollLeft img {
	content: url("../img/back.png");
	width: 15px;
	opacity: 0.7;
}

.scrollRight:hover img,
.scrollLeft:hover img {
	opacity: 1;
}

.width150 {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}

.width280 {
	width: 280px;
	min-width: 280px;
	max-width: 280px;
}

.width26 {
	width: 26px;
	line-height: 16px;
}

.width26 i {
	font-size: 19px;
}


.rotateLeft,
.rotateRight {
	cursor: pointer;
}

.rotateLeft i,
.rotateRight i {
	border: none;
	color: #6c757d;
	box-shadow: none;
}

.btn-disable2 {
	color: #6c757d !important;
	cursor: default !important;
}

.btn-disable2 i,
.btn-disable2 i {
	border: none !important;
	color: #6c757d !important;
	box-shadow: none !important;
}

.rotateLeft:hover,
.rotateLeft:hover i,
.rotateRight:hover,
.rotateRight:hover i {
	color: #00cefffa;
}

.label90 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 6px;
	transform: translate(-50%, -50%);
}

.lpwRotate-item {
	width: 100%;
	height: 100%;
}

.leftToolBar {
	display: flex;
	width: calc(50% - 197.5px);
}

.btn-toolBar-child {
	width: 225px;
	display: flex;
	position: absolute;
	right: 0;
}

.containter-tabs {
	height: 25px;
	background: white;
	box-shadow: 0px 2px 1px #a8a8a859;
	transform: translateY(-150%);
	transition: .5s;
	-webkit-user-select: none;
	z-index: 3;
	position: relative;
}

.containter-tabs.on {
	transform: translateY(0%);
}

.tabs {
	height: 32px;
	display: flex;
	padding-top: 5px;
	overflow: hidden;
	overflow-x: auto;
	-webkit-user-select: none;
}

.tabs::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
.tabs::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.tabs::-webkit-scrollbar-thumb {
	background: rgba(157, 195, 230, 1);
}

/* Handle on hover */
.tabs::-webkit-scrollbar-thumb:hover {
	background: rgb(85, 155, 219);
}

.sub-tab {
	height: 20px;
	min-width: 130px;
	line-height: 20px;
	text-align: center;
	margin-left: 3px;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	border-left: 1px solid #d5d5d5;
	max-width: 130px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0;
	font-size: 11px;
	cursor: pointer;
	-webkit-user-select: none;
}

.sub-tab span {
	max-width: 105px;
	min-width: 105px;
	display: inline-block;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px;
	font-size: 11px;
}

.sub-tab .closeTab {
	float: right;
	line-height: 20px;
	padding: 0 5px;
}

.sub-tab:hover {
	background: #eaeaea;
}

.sub-tab.active {
	background: darkgrey;
}


ul {
	list-style: none;
}

.context-menu {
	position: absolute;
	z-index: 3;
}

.menu {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1 10px 20px rgb(64 64 64 / 5%);
	padding: 0;
}

.menu>li>a {
	font: inherit;
	border: 0;
	padding: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	text-decoration: unset;
	color: #000;
	font-weight: 500;
	cursor: pointer;
}

.menu:hover {
	background: #f1f3f7;
	/* color: #4b00ff; */
}

.menu>li>a>i {
	padding-right: 10px;
}

.cloudCss {
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	animation: smokeOut 1s ease-in-out infinite alternate;
	text-shadow: 0 0 1px white;
}

.cloudCss:before {
	content: url('../img/Picture1.png');
}

@keyframes smokeOut {
	100% {
		opacity: 0.08;
		filter: blur(5px);
		letter-spacing: 4px;
	}
}

@media screen and (max-width: 1367px) {
	.allToolbarchild {
		min-width: 450px;
		max-width: 450px;
		width: 450px;
		text-align: left !important;
	}

}

/* responsive */
@media screen and (max-width: 1320px) {
	.panel {
		width: 150px;
	}

	.scrollPanel {
		width: 157px;
	}

	.panel-show {
		left: 157px !important;
	}

	.td-product {
		width: 150px;
		max-width: 150px;
	}

	body * {
		font-size: 12px;
	}

	.btn-toolBar {
		width: 235px;
	}

	.leftToolBar {
		width: 235px;
	}

	.btn-toolBar-child {
		width: 230px;
	}

	.btnBanner {
		font-size: 12px;
		width: 100px;
	}

	.tool-bar-lpw,
	.tab-bar-search-lpw {
		/* margin-left: 10px;
		margin-right: 10px; */
		margin: 0 auto;
		min-width: 800px;
		width: 800px !important;
	}

	.titleLocal {
		width: 265px;
	}

	.localPath {
		width: calc(100% - 365px)
	}

	.btnLocalFile {
		width: 100px;
	}

	.btnSave {
		font-size: 12px;
		padding: 0 5px;
		margin: 0 5px 0 0;
		width: 110px;
	}

	.toolbarMinSize {
		margin-right: 10px;
	}

	.allToolbar {
		width: 285px;
		overflow: hidden;
		padding: 0 20px;
		text-align: left;
		overflow-x: scroll;
	}

	.leftColor {
		left: 370px;
	}

	.leftLine {
		left: 335px;
	}

	.pageNumber {
		width: 140px;
	}

	.scrollLeft,
	.scrollRight {
		display: block;
	}

	.allToolbarchild {
		min-width: 450px;
		max-width: 450px;
		width: 450px;
		text-align: left;
	}

	/* width */
	.allToolbar::-webkit-scrollbar {
		width: 0px;
		height: 0px;
	}

	/* Track */
	.allToolbar::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	.allToolbar::-webkit-scrollbar-thumb {
		background: rgba(157, 195, 230, 1);
	}

	/* Handle on hover */
	.allToolbar::-webkit-scrollbar-thumb:hover {
		background: rgb(85, 155, 219);
	}

	.drawingSearchContent {
		width: 760px;
	}

	.width150 {
		width: 145px;
		min-width: 145px;
		max-width: 145px;
	}

	.width280 {
		width: 214px;
		min-width: 214px;
		max-width: 214px;
	}
}

@media screen and (max-width: 1024px) {

	.tool-bar-lpw,
	.tab-bar-search-lpw {
		/* margin-left: 10px;
		margin-right: 10px; */
		margin: 0 auto;
		min-width: 785px;
		width: 785px !important;
	}
}

@media screen and (max-width: 799px) {

	.tool-bar-lpw,
	.tab-bar-search-lpw {
		/* margin-left: 10px;
		margin-right: 10px; */
		margin: 0 auto;
		min-width: 550px;
		width: 550px !important;
	}

	.allToolbar {
		width: 90px;
		overflow: hidden;
		padding: 0 20px;
		text-align: left;
		overflow-x: scroll;
	}

	.leftColor {
		left: 300px;
	}

	.leftLine {
		left: 270px;
	}

	.pageNumber {
		width: 140px;
	}

	.btn-toolBar-child {
		width: 210px;
	}

	.btnSave {
		font-size: 10px;
		width: 110px;
	}
}
